<div class="jumbotron">
    <h1>Sign in</h1>
    <div>
        <p></p>
        <label>Username:</label>
        <input type="text" name="username" />
        <input type="submit" class="btn btn-primary btn-sm" value="Register/log in"/>
    </div>
</div>
